#header{
	font-size: 20px;
	font-weight: bold;
}
nav{
	background-color: #EE474E;
}
th{
	text-align: center;
}
.card .card-content {
	padding: 10px;
}
td, th {
	padding: 5px 5px;
}
.card{
	height: 500px;
}
@media only screen and (max-width: 500px) {
	.card {
		height: 410px;
	}
}
img{
	height: 335px;
}
@media only screen and (max-width: 500px) {
img {
	height: 200px;
}